//
// LDViewEXVW.rc - Common EXVW resource file. Cannot be edited with AppStudio.
//

# ifdef APSTUDIO_INVOKED
#   error This file is not editable by AppStudio.
# endif

#ifndef PDFLPI
#include "EXVWIds.h"

////////////////////////////////
//
// EXVW - ExpressViews Resources
//

IDD_CollPrefsExv					 EXVW   DISCARDABLE     "CADMCollPrefs.exv"
IDD_CollSummExv						 EXVW   DISCARDABLE     "CADMCollSumm.exv"
IDD_CollSummPrintExv				 EXVW   DISCARDABLE     "CADMCollSummPrint.exv"
IDD_DiscussExv						 EXVW   DISCARDABLE     "CADMDiscuss.exv"
IDD_AnnotPrefsExv					 EXVW   DISCARDABLE     "CADMAnnotPrefs.exv"
IDD_AuthorizationExv			     EXVW   DISCARDABLE     "CADMAuthorization.exv"
IDD_ManageStampsExv					 EXVW   DISCARDABLE     "CADMStampsMgr.exv"
IDD_CreateStampExv					 EXVW   DISCARDABLE     "CADMStampCreate.exv"
IDD_AuditPropsPanelExv               EXVW	DISCARDABLE		"CADMAuditPropsPanel.exv"
IDD_FreeTextPropsPanelExv            EXVW	DISCARDABLE     "CADMFreeTextPropsPanel.exv" 
IDD_GenericAppearancePropsPanelExv   EXVW	DISCARDABLE     "CADMGenAppearancePropsPanel.exv"
IDD_GenericPropsPanelExv             EXVW	DISCARDABLE     "CADMGenericPropsPanel.exv"
IDD_IconPropsPanelExv                EXVW	DISCARDABLE     "CADMIconPropsPanel.exv"
IDD_InkPropsPanelExv                 EXVW	DISCARDABLE     "CADMInkPropsPanel.exv"
IDD_LinePropsPanelExv                EXVW	DISCARDABLE     "CADMLinePropsPanel.exv"
IDD_MarkupPropsPanelExv              EXVW	DISCARDABLE     "CADMMarkupPropsPanel.exv"
IDD_RegionPropsPanelExv              EXVW	DISCARDABLE     "CADMRegionPropsPanel.exv"
IDD_StampPropsPanelExv               EXVW	DISCARDABLE     "CADMStampPropsPanel.exv"
IDD_EmailReviewNoStateExv			 EXVW	DISCARDABLE     "CADMEmailReviewNoStateWin.exv"
IDD_EmailReviewExv					 EXVW	DISCARDABLE     "CADMEmailReviewWin.exv"
IDD_AnnotAlertExv					 EXVW	DISCARDABLE		"CADMAnnotAlert.exv"
IDD_ConvertWarningExvw				 EXVW	DISCARDABLE		"CADMWarningDlg.exv"
IDD_EditCategoryExvw				 EXVW	DISCARDABLE		"CADMEditCategory.exv"
IDD_MigrateExv						 EXVW   DISCARDABLE     "CADMMigrate.exv"
IDD_ApprovalPostStampExv			 EXVW	DISCARDABLE		"CADMApprovalPostStampDlg.exv"
IDD_IdentityExv						 EXVW	DISCARDABLE		"CADMIdentityDlg.exv"
IDD_IdentityJExv					 EXVW	DISCARDABLE		"CADMIdentityJDlg.exv"
IDD_MergeConfirmExv					 EXVW	DISCARDABLE		"CADMMergeConfirmDlg.exv"
IDD_ApprovalFinalExv				 EXVW	DISCARDABLE		"CADMApprovalFinal.exv"
IDD_RedactPropsPanelExv				 EXVW	DISCARDABLE		"CADMRedactPropsPanel.exv"
IDD_RedactPropsDlgExv				 EXVW	DISCARDABLE		"CADMRedactPropsDlg.exv"
IDD_RedactCodesExv					 EXVW	DISCARDABLE		"CADMRedactCodes.exv"
IDD_CollPrefsReaderExv				 EXVW   DISCARDABLE     "CADMCollPrefsReader.exv"
IDD_RedactPageRangeExv				 EXVW	DISCARDABLE		"CADMRedactPageRange.exv"
IDD_RedactRepeatMarksPageRangeExv	 EXVW	DISCARDABLE		"CADMRedactRepeatMarksPageRange.exv"
IDD_TrackerPrefsExv					 EXVW   DISCARDABLE     "CADMTrackerPrefs.exv"
IDD_TrackerPrefsReaderExv			 EXVW   DISCARDABLE     "CADMTrackerPrefsReader.exv"
IDD_TOUdlgEve						 EVEF	DISCARDABLE		"TOUdlg.eve"
IDD_MergeNotifyEve					 EVEF	DISCARDABLE		"CADMMergeNotify.eve"
IDD_PropertySelAppearEve			 EVEF	DISCARDABLE		"CADMSigAppear.eve"
IDD_SignCanDoCloseEve				 EVEF	DISCARDABLE		"CADMSignCanDoClose.eve"
IDD_SendForSignatureEve				 EVEF	DISCARDABLE		"CADMSendForSignature.eve"
IDD_SendSignedDocumentEve			 EVEF	DISCARDABLE		"CADMSendSignedDocument.eve"
IDD_OCRSettingsEve					 EVEF	DISCARDABLE		"CADMOCRSettings.eve"
IDD_SignDoSaveACopyEve				 EVEF	DISCARDABLE		"CADMSignDoSaveACopy.eve"
IDD_TextEditsDlgEve					EVEF	DISCARDABLE		"CADMTextEditsDlg.eve"

//EVE Resources For SharePoint
IDD_SPVersioningDlgEve				 EVEF	DISCARDABLE		"CADMSPVersioningDlg.eve"
IDD_SPMetadataDlgEve				 EVEF	DISCARDABLE		"CADMSPMetadata.eve"
IDD_SPEditMetadataDlgEve			 EVEF	DISCARDABLE		"CADMSPEditMetadataDlg.eve"
IDD_SPContentTypeDlgEve				EVEF	DISCARDABLE		"CADMSPContentTypeDlg.eve"
IDD_OpenURLDlgEve					EVEF	DISCARDABLE		"CADMSPOpenURLDlg.eve"
#endif

/////////////////////////////////////////////////////////////////////////////
//
// ZDCT - ZString Dictionary Resources only for Reader
//

#if PDFLPI
10000		ZDCT	DISCARDABLE     "miStr.ztx"				// ZStrings (generated file)
#else
10000		ZDCT	DISCARDABLE     "miStrs.zbin"				// ZStrings (generated file)
10001		ZDCT	DISCARDABLE     "miStr.zbin"				// ZStrings (generated file)
#endif

// End of file.
